<page-header-presentational
  [title]="'Tasks'"
  [description]="'You can browse through tasks below'"
>
</page-header-presentational>
<ng-container *ngFor="let task of tasksWithMembersAndCheckList$ | async">
  <div class="card card-task">
    <div class="progress">
      <div
        [progressBarState]="task.percentage"
        [progressBarNotDefault]="true"
        class="progress-bar"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="card-body">
      <div class="card-title">
        <a href="#">
          <h6 data-filter-by="text" class="H6-filter-by-text">
            {{ task.name }}
          </h6>
        </a>
        <span class="text-small">{{ task.dueDate | date }}</span>
      </div>
      <div class="card-meta">
        <img-overlap-list-presentational
          [persons]="task.members"
        ></img-overlap-list-presentational>
        <div class="d-flex align-items-center">
          <i class="material-icons">playlist_add_check</i>
          <span>
            {{ task.checkListItems | checkListItemsDone | length }}/{{
              task.checkListItems | length
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
